<div class="container">
  <div class="row margin-b-40">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <h2>Modele recente</h2>
      <p>Cauta-ti modelul, de exemplu... </p>
      <nav class="navbar navbar-light justify-content-left">
        <form class="form-inline">
          <!-- <button type="button" class="btn btn-default btn-lg mr-3" id="btnSort">Cerca il tuo
                                    modello</button> -->
          <input class="form-control form-control-lg mr-sm-2" type="search" placeholder="restaurante" aria-label="Cauta"
            id="cauta">
        </form>
      </nav>
    </div>
  </div>

  <div class="card-deck mt-2"></div>


  <div class="row">
    <!-- <ng-template > -->
      <div class="col-sm-4 col-lg-4 col-xs-12 my-5" *ngFor="let card of cardsArray">
        <app-card-component [Title]="card.Title" [Description]="card.Description"></app-card-component>
      </div>
    <!-- </ng-template> -->
  </div>