<div class="container mt-5">
    <div class="row">
        <div class="col-lg-6 col-sm-4 col-xs-4">
            <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
                <div class="mb-3">
                    <label for="webdomain" class="form-label">Cauta domeniul </label>
                    <input type="text" class="form-control" id="webdomain" aria-describedby="webdomain"
                        formControlName="webdomain">
                    <div id="webdomain" class="form-text"></div>
                    <ng-container *ngIf="displaySpinner | async">
                        <div class="text-center">
                            <div class="spinner-border" role="status">
                                <span class="sr-only"></span>
                            </div>
                        </div>
                    </ng-container>

                </div>
                <div *ngFor="let contact of contactFieldsArray.controls; let i=index">
                    <ng-container [formGroup]="contactFG">
                        <label>Nume:</label>
                        <input id="name" type="text" formControlName="name">
                        <label>Email:</label>
                        <input id="email" type="text" formControlName="email">
                        <label>Telefon:</label>
                        <input id="tel" type="text" formControlName="tel">
                    </ng-container>
                </div>
                <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
            </form>
            <p>
                <!-- <button type="button" (click)="addContactFields()">Add</button> -->
            </p>
            <!-- <div>{{searchOut | json}}</div> -->
        </div>
        <div class="col-lg-2 col-sm-4 col-xs-4">

        </div>
        <div class="col-lg-4 col-sm-4 col-xs-4"></div>
    </div>
</div>